.box {
	flex-direction: row;
	background-color: white;
	margin: 0 0 55px;
	// height:900px;
	display: flex;
	margin-top:80px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:80px;
	flex-wrap:wrap;
	justify-content:space-between;
}
.box-item {
	width: 230px;
	max-width:230px;
	height: 160px;
	line-height: 200px;
	vertical-align: middle;
	margin-top: 20px;
	margin-bottom:20px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: #ffd200;
	font-size: 100px;
	color: white;
	text-align: center;
	
}