<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <jmxConfigurator />
    <!--可通过环境变量设置领域名、应用名-->
    <property name="spring.domain.name" value="iuap"/>
    <property name="spring.application.name" value="iuap-eyetouch-seentao-server"/>
    <property name="logging.path" value="/data/logs/app"/>

    <property name="COMMON_LOG_PATTERN"
            value="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] [%X{traceId}] [%X{spanId}] [%X{pSpanId}] [%X{rpcOccurrence}] [%X{code}] [%X{req.requestURL}] [%X{req.queryString}] [${spring.domain.name},${spring.application.name},%X{sysId},%X{tenantId},%X{userId},%X{profile},%X{agentId}] - %msg %ex%n" />

    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/ucf-${spring.application.name}.log</file>
        <rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/ucf-${spring.application.name}.%d{yyyy-MM-dd}.log.bak</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="mwlogger"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>data/logs/mw/mw.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>data/logs/mw/mw.log.%d{yyyy-MM-dd}.log.bak</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.yonyou.iuap.ucf" level="ERROR" additivity="false">
        <appender-ref ref="mwlogger"/>
    </logger>
    <logger name="com.ibatis" level="info" />
    <logger name="java.sql" level="debug" />
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
