@import "../../public/variables.scss";
@import "../../public/mixins.scss";

#myCollection{
	// margin: 30px 0;
  box-sizing: border-box;

  .el-tabs__nav-wrap{
    @include flex-center();

    #tab-post,
    #tab-commodity{
      font-size: 18px;
      line-height:35px;
    }
  }
}