@import "../../public/variables.scss";
@import "../../public/mixins.scss";

#productDetail{
  box-sizing: border-box;
  padding: 20px;
  display: flex;

  .detail{
    flex: 1;
    box-sizing: border-box;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 2px;
    list-style: none;
    margin-bottom: 20px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    
    // 用户信息块

    .user{
      height: 50px;
      display: flex;

      .userInfo{
        width: 100%;
        display: flex;

        .avatar{
          width: 45px;
          height: 45px;
          border: 1px solid #808080;
          border-radius: 50%;
          box-sizing: border-box;
          // margin: 5px;

          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .name-time{
          height: 40px;
          display: flex;
          flex-direction: column;
          margin: 0 8px;

          .name{
            font-size: 16px;
          }
          .time{
            font-size: 11px;
            margin-top: 6px;
          }
        }
      }
      .attent{
        width: 120px;
        height: 40px;
        @include flex-center(column);
      }
    }

    .postList-main{
      width: 100%;
      height: 250px;
      // background-color: #C1FFF9;
      display: flex;
      margin: 10px 0;

      .cosImage{
        flex: 1;
        height: 180px;

        .bigImg{
          width: 100%;
          height: 100%;
        }

        .smallImages{
          display: flex;

          img{
            flex: 1;
            height: 66px;
            margin: 2px;
          }
        }
      }
      .desc-operate{
        flex: 1;
        box-sizing: border-box;
        padding: 5px 40px;

        .prductTitle{
          box-sizing: border-box;
          font-size: 23px;
          margin-left: 5px;
        }
        .produtcPrice{
          font-size: 30px;
          color: #ff9797;
          margin: 20px 0;
        }
        .productUrl{
          color: #2B3CB4;
          margin: 5px;
          font-size: 17px;
        }
      }
    }

    .desc-comment{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header{
        display: flex;
        margin-top: 20px;

        .productOperate{
          flex: 1;
          display: flex;
          justify-content: flex-end;
          // margin-top: 10px;

          .operate{
            height: 30px;
            box-sizing: border-box;
            display: flex;

            .like,
            .collection,
            .forward{
              box-sizing: border-box;
              width: 70px;
              height: 100%;
              @include flex-center();
              // border-left: 1px solid #E4E4E4;
              // border-right: 1px solid #E4E4E4;
              cursor: pointer;

              img{
                width: 30px;
                height: 30px;
                margin-right: 3px;
              }

              div{
                font-size: 13px;
              }
            }
            .like:hover,
            .collection:hover,
            .forward:hover{
              color: red;
            }
          }
        }

        .changeBar{
          flex: 1;
          height: 35px;
          // margin-top: 20px;
          display: flex;
          justify-content: flex-start;

          div{
            width: 50px;
            height: 35px;
            box-sizing: border-box;
            @include flex-center(column);
          }
          .changeBar-desc{
            border-bottom: 3px solid #fff;
            // border-bottom: 5px solid #ff9797;
          }
          .changeBar-comment{
            // border-bottom: 5px solid #fff;
            border-bottom: 3px solid #ff9797;
          }
        }
      }

      .desc{
        width: 100%;
        box-sizing: border-box;
        // border: 1.5px solid #ff9797;
        border-radius: 4px;
        padding: 15px;
        margin-top: 10px;
      }

      .comments{
        width: 100%;
        box-sizing: border-box;
        // border: 1.5px solid #ff9797;
        border-radius: 4px;
        padding: 10px;
        margin-top: 10px;

        .commentList{
          margin: 8px 0 0 0;
          font-size: 14px;
          line-height: 20px;
          cursor: pointer;
          .obj{
            span{
              color: #DE505E;
            }
            .reply{
              color: #000;
            }
          }
        }

        .commentList:hover{
          background-color: #FFECEC;
        }

        .tocomment{
          display: flex;
          margin-bottom: 15px;
          align-items: center;

          .el-button{
            margin-left: 15px;
          }
        }
      }
    }
  }

  // 侧边推荐栏
  
  .recommend{
    width: 250px;
    margin-left: 30px;
  }

  .return{
    position: absolute;
    left: 5%;
    top: 12%;
  }
}