@import "../public/variables.scss";
@import "../public/mixins.scss";

#index{
  @include flex-center(column);

  .container{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    // background-color: $mask-color;

    .banner{
      width: 100%;
      height: 300px;
      @include flex-center();
      margin: 20px 0;
      // box-sizing: border-box;
      padding: 20px;
      background-color: #fff;

      .picStyle{
        flex: 1;
        @include flex-center(column);
        height: 100%;
        margin-right: 30px;
        background: url('~@/assets/images/5.jpg');
        background-size: 100% 100%;
        cursor: pointer;
        // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      }

      .slide{
        flex: 3;
        height: 100%;
        // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

        img{
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    .main{
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: #fff;
      box-sizing: border-box;
      padding: 0 10px;
      // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

      .list{
        width: 100%;

        .title{
          width: 100%;
          height: 50px;
          font-size: 20px;
          line-height: 50px;
          text-align: center;
          text-shadow: 2px 2px 3px #323232;
        }

        .youLikeList{
          width: 100%;
          box-sizing: border-box;
          padding: 0 0 20px;
          list-style: none;
        }

        .hotPostsList{
          width: 100%;
          box-sizing: border-box;
          // padding: 0 0 20px;
          list-style: none;
          @include flex-center();
          flex-wrap: wrap;
        }

        .hotCosmeticsList{
          width: 100%;
          box-sizing: border-box;
          padding: 0 0 20px;
          list-style: none;
          @include flex-center();
          flex-wrap: wrap;
        }
      }
    }
  }
  
}