@import "../public/variables.scss";
@import "../public/mixins.scss";

#youLike{

  .title{
    width: 100%;
    height: 35px;
    @include flex-center(column);
    // border-bottom: 1px solid #C8C8C8;
    font-size: 17px;
    background-color: #FFD9D9;
  }

  .items{
    width: 90%;
    font-size: 14px;
    list-style: decimal;
    list-style-position: inside;

    li{
      margin: 8.5px 0 8.5px 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #525252;
      cursor: pointer;
    }

    li:hover{
      color: #FF4E4E;
    }
  }
}